<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" />
    </ng-template>
    <ng-template pTemplate="end" *ngIf="!isLoggedIn">
        <p-button styleClass="p-button-rounded p-button-raised p-button-sm p-button-secondary" class="m-3" label="Login"
            icon="pi pi-user" iconPos="right" routerLink="/login"></p-button>

        <p-button routerLink="/signup"
            styleClass="p-button-rounded p-button-secondary p-button-sm p-button-raised p-button-text" label="SignUp"
            icon="pi pi-user-plus" iconPos="right"></p-button>

    </ng-template>

    <ng-template pTemplate="end" *ngIf="isLoggedIn">
        <div style="margin-right: 3vw;">
            <p-button label="Cart" icon="pi pi-shopping-cart" styleClass="p-button-sm p-button-secondary p-button-text p-button-raised"
         badge="{{badge}}" badgeClass="p-badge-danger" routerLink="/cart"></p-button>
         
         <p-menu #menu [model]="dropdown" [popup]="true"></p-menu>
         <p-button type="button" (click)="menu.toggle($event)" icon="pi pi-user" 
         styleClass="p-button-sm p-button-secondary p-button-text p-button-raised"
         label="Account"></p-button>
        </div>

    </ng-template>
</p-menubar>