<p-menubar [model]="items">
    <ng-template pTemplate="start" >
        <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" />
    </ng-template>
    <ng-template pTemplate="end">
        <p-button styleClass="p-button-rounded p-button-raised p-button-sm"
        class="m-3" label="Login" icon="pi pi-user" iconPos="right" 
        (onClick)="toLogin()"></p-button>

        <p-button (onClick)="toSignup()" styleClass="p-button-rounded p-button-sm p-button-raised p-button-text" label="SignUp" icon="pi pi-new" iconPos="right"></p-button>
    </ng-template>
</p-menubar>
