<app-navbar-admin></app-navbar-admin>


<div class="container-fluid mt-3">

    <div class="card">
        <p-toast></p-toast>
        <p-toolbar styleClass="mb-4 gap-2">
            <ng-template pTemplate="left">
                <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-primary mr-2"
                    (click)="openNew()"></button>
            </ng-template>
            <h1>Proveedores</h1>
        </p-toolbar>

        <p-table #dt [value]="suppliers" [rows]="10" [paginator]="true" [resizableColumns]="true"
            [globalFilterFields]="['name', 'email', 'phone', ]"
            [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">

            <ng-template pTemplate="header">
                <tr>
                    <th pResizableColumn pSortableColumn="name" style="min-width:15rem">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                    <th pResizableColumn pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                    <th pResizableColumn pSortableColumn="phone" style="min-width:10rem">Teléfono <p-sortIcon
                            field="phone"></p-sortIcon></th>
                    <th pResizableColumn>Opciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-supplier>
                <tr>
                    <td>{{ supplier.name }}</td>
                    <td>{{ supplier.email }}</td>
                    <td>{{ supplier.phone }}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" style="margin-right: 10px;" class="p-button-rounded p-button-primary mr-2"
                            (click)="editSupplier(supplier)"></button>
                        <button pButton pRipple icon="pi pi-trash" style="margin-right: 10px;" class="p-button-rounded p-button-danger"
                            (click)="deleteSupplier(supplier)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">En total hay {{ suppliers ?
                    suppliers.length : 0 }} proveedores.</div>
            </ng-template>
        </p-table>
    </div>
    <p-dialog [(visible)]="supplierDialog" [style]="{ width: '450px' }" header="Supplier Details" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="field">
                <label for="name">Nombre</label>
                <input type="text" pInputText id="name" [(ngModel)]="supplier.name" required autofocus />
                <small class="p-error" *ngIf="submitted && !supplier.name">Nombre es requerido.</small>
            </div>
            <div class="field">
                <label for="email">Email</label>
                <input id="email" pInputText [(ngModel)]="supplier.email" required >
            </div>
            <div class="field">
                <label for="phone">Teléfono</label>
                <input id="phone" pInputText  [(ngModel)]="supplier.phone" required >
            </div>

        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                (click)="saveSupplier()"></button>
        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</div>