<app-navbar-admin></app-navbar-admin>


<div class="container-fluid mt-3">

    <div class="card">
        <p-toast></p-toast>
        <p-toolbar styleClass="mb-4 gap-2">
            <ng-template pTemplate="left">
                <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-primary mr-2"
                    (click)="openNew()"></button>
            </ng-template>
            <h1>Usuarios</h1>
        </p-toolbar>

        <p-table #dt [value]="users" [rows]="10" [paginator]="true" [resizableColumns]="true"
            [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
            [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">

            <ng-template pTemplate="header">
                <tr>
                    <th pResizableColumn pSortableColumn="email" style="min-width:15rem">Email <p-sortIcon field="email"></p-sortIcon></th>
                    <th pResizableColumn pSortableColumn="role" style="min-width:10rem">Rol <p-sortIcon field="role"></p-sortIcon></th>
                    <th pResizableColumn style="min-width:10rem">Opciones </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2"
                            (click)="editUser(user)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                            (click)="deleteUser(user)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">En total hay {{ users ?
                    users.length : 0 }} usuarios.</div>
            </ng-template>
        </p-table>
    </div>
    <p-dialog [(visible)]="userDialog" [style]="{ width: '450px' }" header="User Details" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="field">
                <label for="email">Email</label>
                <input type="text" pInputText id="email" [(ngModel)]="user.email" required autofocus />
                <small class="p-error" *ngIf="submitted && !user.email">Email es requerido.</small>
            </div>
            <div class="field">
                <label class="mb-3">Rol</label>
                <div class="formgrid grid">
                    <div class="field-radiobutton col-6">
                        <p-radioButton id="role1" name="role" value="1"
                            [(ngModel)]="user.roleId"></p-radioButton>
                        <label for="role1">Admin</label>
                    </div>
                    <div class="field-radiobutton col-6">
                        <p-radioButton id="role3" name="role" value="2"
                            [(ngModel)]="user.roleId"></p-radioButton>
                        <label for="category3">Seller</label>
                    </div>
                    <div class="field-radiobutton col-6">
                        <p-radioButton id="role2" name="role" value="3"
                            [(ngModel)]="user.roleId"></p-radioButton>
                        <label for="role2">Stocker</label>
                    </div>
                </div>
            </div>

        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                (click)="saveUser()"></button>
        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</div>