<div class="container">
    <div class="flex flex-column gap-2">
        <label htmlFor="username">Username</label>
        <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="user.email" />
        <small id="username-help">Enter your username to reset your password.</small>
    </div>
    
    <div class="flex flex-column gap-2">
        <span class="p-float-label">
            <p-password [(ngModel)]="user.password" [toggleMask]="true" [feedback]="false"></p-password>
            <label for="password">Password</label>
        </span>
    </div>
    
    <div class="flex flex-column gap-2">
        <p-button styleClass="p-button-rounded p-button-raised p-button-sm p-button-secondary"
        class="m-3" label="Login" icon="pi pi-user" iconPos="right" 
        (onClick)="toLogin()"></p-button>
    </div>
</div>
<app-footer></app-footer>
