<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
    
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    The best option <br />
                    <span style="color: hsl(0, 100%, 64%)">for your home</span>
                </h1>
                <div class="col-md-6">
                    <div class="image_1"><img style="max-width: 75%;"
                            src="assets/logo.png">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                        
                            <h1>Access to your account</h1>
                            <div class="form-outline mb-4">
                                <span class="p-float-label">
                                    <input class="p-inputtext-lg" p-inputtext="email" pInputText id="email"
                                        [(ngModel)]="user.email" />
                                    <label htmlFor="email">Email</label>
                                </span>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <span class="p-float-label">
                                    <p-password id="password" class="p-inputtext-lg" [(ngModel)]="user.password" [feedback]="false"
                                        [toggleMask]="true"></p-password>
                                    <label for="password">Password</label>
                                </span>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" (click)="toLogin()" class="btn btn-dark mb-4">
                                Login
                            </button>

                            <div class="text-center text-lg-start mt-4 pt-2">
                            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/signup"
                                    class="link-danger">SignUp</a></p>
                            </div>
                            <p-toast></p-toast>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->