<app-navbar></app-navbar>

<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h2>My cart</h2>
      <p-table [value]="products">

        <ng-template pTemplate="body" let-product>
          <tr>
            <td><img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image"
                [alt]="product.name" width="100" class="shadow-4" /></td>
            <td>{{product.name}}</td>
            <td>{{product.price | currency:'USD'}}</td>
            <td><p-inputNumber mode="decimal" placeholder="{{product.quantity}}" inputId="minmax-buttons" [min]="1"
                [max]="100"> </p-inputNumber>

            </td>
            <td>
              <p-button icon="pi pi-plus" (click)="increase(product)"
                styleClass="p-button-rounded p-button-secondary p-button-text p-button-outlined"></p-button>
              <p-button icon="pi pi-minus" (click)="reduce(product)"
                styleClass="p-button-rounded p-button-secondary p-button-text p-button-outlined"></p-button>
            </td>
            <td><button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                (click)="deleteProduct(product)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            You have {{products ? products.length : 0 }} products in your cart.
          </div>
        </ng-template>
      </p-table>
    </div>

    <p-toast></p-toast>



    <div class="col-sm" *ngIf="products.length">
      <div class="container">
        <h2>
          <i class="pi pi-shopping-cart" style="font-size: 2rem"></i>
          Checkout
        </h2>
        <hr class="mb-4">
        <ul class="list-group mb-3"style="font-size: 1.2rem">
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>{{total | currency:'USD'}}</strong>
          </li>
        </ul>
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
          <div class="p-grid p-fluid">
            <div class="p-col-12">
              <p-card>
                <div class="p-grid">
                  <div class="p-col-6">
                    <label for="cardNumber">Número de tarjeta</label>
                    <input id="cardNumber" minlength="9" maxlength="9" pKeyFilter="int" pInputText
                      formControlName="cardNumber" />
                  </div>
                  <div class="p-col-6">
                    <div class="p-col-6">
                      <label for="expiryMonth">Mes de vencimiento</label>
                      <p-dropdown id="expiryMonth" [options]="monthOptions" formControlName="expiryMonth"></p-dropdown>
                    </div>
                  </div>
                  <div class="p-col-6">
                    <label for="expiryYear">Año de vencimiento</label>
                    <p-dropdown id="expiryYear" [options]="yearOptions" formControlName="expiryYear"></p-dropdown>
                  </div>

                  <div class="p-col-6">
                    <label for="cvv">CVV</label>
                    <input minlength="3" maxlength="3" id="cvv" pInputText formControlName="cvv" />
                  </div>
                </div>
                <br>
                <p-button type="submit" label="Pagar" 
                styleClass="p-button-rounded p-button-secondary p-button-lg" icon="pi pi-credit-card"
                [disabled]="!checkoutForm.valid"></p-button>
              </p-card>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</div>