<app-navbar></app-navbar>

<div class="container-fluid mt-3">

    <div class="card">
        <p-toast></p-toast>
        <p-toolbar styleClass="mb-4 gap-2">
            <ng-template pTemplate="left">
            </ng-template>
            <h1>Mis Pedidos</h1>
        </p-toolbar>
    <p-table [value]="orders" dataKey="payment" [tableStyle]="{ 'min-width': '80vw' }">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 5rem"></th>
                <th>Pago</th>
                    <th pSortableColumn="deliveryFee" >Envío <p-sortIcon field="deliveryFee"></p-sortIcon></th>
                    <th pSortableColumn="status">Estatus <p-sortIcon field="status"></p-sortIcon></th>
                    <th pSortableColumn="subtotal">Subtotal <p-sortIcon field="subtotal"></p-sortIcon></th>
                    <th pSortableColumn="total">Total <p-sortIcon field="total"></p-sortIcon></th>
                    <th pSortableColumn="date">Fecha <p-sortIcon field="date"></p-sortIcon></th>
                </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order let-expanded="expanded">
            <tr>
                <td>
                    <button type="button" pButton pRipple [pRowToggler]="order" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                </td>
                <td>
                    {{order.payment}}
                </td>
                <td>
                    {{order.deliveryFee}}
                </td>
                <td>
                    <p-tag [value]="order.status" [severity]="getStatus(order)"></p-tag>
                </td>
                <td>
                    {{order.subtotal | currency: 'USD'}}
                </td>
                <td>
                    {{order.total | currency: 'USD'}}
                </td>
                <td>
                    {{order.date}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-order>
            <tr>
                <td colspan="7">
                    <div class="p-3">
                        <p-table [value]="order.details" dataKey="id">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="productName">Producto <p-sortIcon field="productName"></p-sortIcon></th>
                                    <th pSortableColumn="price">Precio <p-sortIcon field="price"></p-sortIcon></th>
                                    <th pSortableColumn="quantity">Cantidad <p-sortIcon field="quantity"></p-sortIcon></th>
                                    <th >Total</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-details>
                                <tr>
                                    
                                    <td>{{ details.productName }}</td>
                                    <td>{{ details.price  | currency: 'USD' }}</td>
                                    <td>{{ details.quantity }}</td>
                                    <td>{{ details.price * details.quantity | currency: 'USD' }}</td>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="6">There are no details for this order yet.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div class="image_1 text-center" *ngIf="orders.length==0">
    <img style="max-width: 20vw;" src="assets/empty.png">
  </div>