<app-navbar-admin></app-navbar-admin>


<div class="container-fluid mt-3">

    <div class="card">
        <p-toast></p-toast>
        <p-toolbar styleClass="mb-4 gap-2">
            <ng-template pTemplate="left">
                <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-primary mr-2"
                    (click)="openNew()"></button>
            </ng-template>
            <h1>Insumos</h1>
        </p-toolbar>

        <p-table #dt [value]="supplies" [rows]="10" [paginator]="true" [resizableColumns]="true"
            [globalFilterFields]="['name', 'cost', 'buyUnit', 'useUnit', 'equivalence', 'status']"
            [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">

            <ng-template pTemplate="header">
                <tr>
                    <th pResizableColumn pSortableColumn="name" style="min-width:15rem">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                    <th pResizableColumn>Imagen</th>
                    <th pResizableColumn pSortableColumn="cost">Precio <p-sortIcon field="cost"></p-sortIcon></th>
                    <th pResizableColumn pSortableColumn="buyUnit" style="min-width:10rem">Unidad de compra<p-sortIcon
                            field="buyUnidad"></p-sortIcon></th>
                    <th pResizableColumn pSortableColumn="useUnit" style="min-width:10rem">Unidad de uso <p-sortIcon
                            field="useUnit"></p-sortIcon></th>
                    <th pResizableColumn pSortableColumn="equivalence" style="min-width:10rem">Equivalencia <p-sortIcon
                            field="equivalence"></p-sortIcon></th>
                    <!-- <th pResizableColumn pSortableColumn="inventoryStatus" style="min-width:10rem">Estatus <p-sortIcon
                            field="inventoryStatus"></p-sortIcon></th> -->
                    <th pResizableColumn>Opciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-supply>
                <tr>
                    <td>{{ supply.name }}</td>
                    <td><img [src]="supply.image"
                            [alt]="supply.name" width="50" class="shadow-4" /></td>
                    <td>{{ supply.cost | currency: 'USD' }}</td>
                    <td>{{ supply.buyUnit }}</td>
                    <td>{{ supply.useUnit }}</td>
                    <td>{{ supply.equivalence }}</td>
                    <!-- <td>
                        <p-tag [value]="supply.inventoryStatus"
                            [severity]="getSeverity(supply)"></p-tag>
                            {{ supply.stock }}
                    </td> -->
                    <td>
                        <button pButton pRipple icon="pi pi-wallet" style="margin-right: 10px;" class="p-button-rounded p-button-secondary mr-2"
                            (click)="openBuy(supply)"></button>
                        <button pButton pRipple icon="pi pi-pencil" style="margin-right: 10px;" class="p-button-rounded p-button-primary mr-2"
                            (click)="editSupply(supply)"></button>
                        <button pButton pRipple icon="pi pi-trash" style="margin-right: 10px;" class="p-button-rounded p-button-danger"
                            (click)="deleteSupply(supply)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">En total hay {{ supplies ?
                    supplies.length : 0 }} insumos.</div>
            </ng-template>
        </p-table>
    </div>
    <p-dialog [(visible)]="supplyDialog" [style]="{ width: '450px' }" header="Supply Details" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="field">
                <label for="demo[]">Imagen</label>
                <p-fileUpload name="demo[]" [auto]="true" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onUpload($any($event))" [multiple]="false" accept="image/png">
                </p-fileUpload>
                <small class="p-error" *ngIf="submitted && !supply.image">Imagen es requerido.</small>
            </div>
            <div class="field">
                <label for="name">Nombre</label>
                <input type="text" pInputText id="name" [(ngModel)]="supply.name" required autofocus />
                <small class="p-error" *ngIf="submitted && !supply.name">Nombre es requerido.</small>
                <small class="p-error" *ngIf="submitted && !supply.name && supply.name!.length>3">Nombre has to be at least 3 characters long.</small>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <label for="cost">Costo</label>
                    <p-inputNumber [showButtons]="true" placeholder="0" id="cost" [(ngModel)]="supply.cost" mode="currency" currency="USD"
                        locale="en-US" [min]="1"></p-inputNumber>
                        <small class="p-error" *ngIf="submitted && !supply.image">Costo es requerido.</small>
                </div>
            </div>
            <div class="field">
                <label for="buyUnit">Unidad de compra</label>
                <input id="buyUnit" pInputText [(ngModel)]="supply.buyUnit" required >
                <small class="p-error" *ngIf="submitted && !supply.buyUnit">Unidad de compra es requerido.</small>
            </div>
            <div class="field">
                <label for="useUnit">Unidad de uso</label>
                <input id="useUnit" pInputText [(ngModel)]="supply.useUnit" required >
                <small class="p-error" *ngIf="submitted && !supply.useUnit">Unidad de uso es requerido.</small>
            </div>
            <div class="field">
                <label for="equivalence">Equivalencia</label>
                <p-inputNumber [showButtons]="true" placeholder="0" id="equivalence" [(ngModel)]="supply.equivalence" [min]="1" ></p-inputNumber>
                <small class="p-error" *ngIf="submitted && !supply.equivalence">Equivalencia es requerido.</small>
            </div>

        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                (click)="saveSupply()"></button>
        </ng-template>
    </p-dialog>


    <p-dialog [(visible)]="buyDialog" [style]="{ width: '450px' }" header="Comprar Suministro" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">

            <div class="formgrid grid">
                <div class="field col">
                    <label for="quantity">Cantidad</label>
                    <p-inputNumber [showButtons]="true" placeholder="0" id="quantity" [(ngModel)]="quantity" pKeyFilter="int"></p-inputNumber>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                (click)="buy()"></button>
        </ng-template>
    </p-dialog>


    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</div>